body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c6b9f;
}

header {
  background-color: #4a125b;
  color: white;
  padding: 5px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #ffffff;
}

.produk-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.produk {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}

.produk button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.produk button:hover {
  background-color: #218838;
}

#keranjang-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

#keranjang-table th, #keranjang-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}